<div class="container w-50 text-start">


<div style="border-left: 5px solid #ddd" class="my-1">
<figure class="ps-2 py-1">
  <blockquote class="blockquote">
    <p><%= @question %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Me 😺
  </figcaption>
</figure>
</div>

<div style="border-left: 5px solid #ddd" class="my-1">
<figure class="ps-2 py-1" style="background: #FFFFE1">
  <blockquote class="blockquote">
    <p><%= @answer %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Coach 👿
  </figcaption>
</figure>
</div>

<%= link_to "Return to", 'ask' %>

</div>

