<div class="w-50">

  <form action="/answer" method="get" data-turbo="false">
    <label class="form-label" for="question">Ask your coach anything</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2" name="question">
      <button class="btn btn-primary" type="submit" id="button-addon2">Button</button>
    </div>
  </form>

</div>
